/* Vars */
$t-headerColor: #fff;
$t-linkOnPageTop: #fff;
$t-headerLogoWidth: 70px;
$t-headerLogoHeight: 70px;

.header-container {
  position: fixed;
  width: 100%;
  display: grid;
  height: 90px;
}


/* TransformHeader */
.theader {
  grid-template-columns: 30% 70%;
  background-color: $t-headerColor;
  .theader-logo {
    margin: auto;
    width: $t-headerLogoWidth;
    height: $t-headerLogoHeight;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navbar-container {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between; // Changable
  }
  &.on-top {
    background-color: transparent;
    .hlink {
      color: $t-linkOnPageTop;
    }
    .center-border-hover {
      &:after {
        border-color: #fff;
      }
    }
  }
}
/* TransformHeader End */

/* MidLogoHeader */
/* Vars */
$m-headerLogoWidth: 70px;
$m-headerLogoHeight: 70px;
$m-headerColor: #fff;

.mheader {
  background-color: $m-headerColor;
  grid-template-columns: 30% auto 30%;
  .mheader-logo {
    margin: auto;
    width: $m-headerLogoWidth;
    height: $m-headerLogoHeight;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .mheader-side {
    margin: auto;
  }
  .mheader-left {
    display: flex;
  }
  .mheader-right {
    .m-header-navbar {
      display: grid;
      grid-template-columns: 20% auto 20%;
      grid-template-rows: 18% auto;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
      transition: .3s;
      opacity: 0;
      visibility: hidden;
      .m-header-navbar-wrapper {
        grid-row-start: 2;
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .hlink {
          width: fit-content;
          color: #fff;
          font-size: 20px;
          margin: 15px 0;
        }
      }
      &.open {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}


// TODO - move this to seperate file
/* Burger */
.target-burger {
  &:hover{
      opacity: 0.6;
  }
  &.toggled{
    z-index: 2;
    position: relative;
      ul.buns{
          li.bun{
              background-color: #fff;
              -webkit-transform: rotate(45deg) translateZ(0);
              transform: rotate(45deg) translateZ(0);
              &:last-child{
                  -webkit-transform: rotate(-45deg) translateZ(0);
                  transform: rotate(-45deg) translateZ(0);
              }
          }
      }
  }
  ul.buns{
      width: 1.625em;
      height: 1.625em;
      list-style: none;
      margin: -1.625em/2 0 0 -1.625em/2;
      padding: 0;
      -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
      transition: transform 0.8s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      color: #000;
      li.bun{
          width: 100%;
          height: 2px;
          background-color: #000;
          position: absolute;
          top: 50%;
          margin-top: -.75px;
          -webkit-transform: translateY(-3.75px) translateZ(0);
          transform: translateY(-3.75px) translateZ(0);
          -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1);
          transition: transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1);
          &:last-child{
              -webkit-transform: translateY(3.75px) translateZ(0);
              transform: translateY(3.75px) translateZ(0);
          }
      }
  }
}

/* MidLogoHeader End */